<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Page</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="flex flex-row justify-between">
        <h2 class="text-blue-400 font-bold text-2xl">SHOP</h2>
        <% if(success.length > 0) { %>
            <div id="success" class="text-green-500"><%= success %></div>
        <% } %>
        <% if(error.length > 0) { %>
            <div id="error" class="text-red-500"><%= error %></div>
        <% } %>
        <div class="flex flex-row gap-8 text-blue-400">
            <button>
                <a href="/dashboard/creation"><%=  user.role === 'owner' ? 'create product' : '' %></a>
            </button>
            <button>
                <a href="/dashboard/cart">cart (<%= user.cart.length %>)</a>
            </button>
            <select class="outline-none border-none" id="profile" name="profile" onchange="if(this.value) {window.location.href = this.value}">
                <option value="profile" selected>profile</option>
                <option value="/user/logout/<%= user._id %>">logout</option>
                <option class="text-red-500" value="/user/delete/<%= user._id %>">delete</option>
            </select>
        </div>
    </div>
    <div class="flex flex-row gap-[5rem]">
        <div class="w-[18rem] flex flex-col gap-[5rem] p-[2rem] mt-[2rem]">
            <form method="get" action="/dashboard">
                <div>
                    <label for="filter" class="text-blue-400">Filter By:</label>
                    <select id="filter" name="filter" class="border border-gray-300 rounded p-2" onchange="this.form.submit()">
                        <option value="select" <%= filter==='select'?'selected':''%>>--select--</option>
                        <option value="new" <%= filter==='new'?'selected':''%>>new</option>
                        <option value="old" <%= filter==='old'?'selected':''%>>old</option>
                    </select>
                </div>
            </form>
            <form method="get" action="/dashboard">
                <div class="flex flex-col gap-[2rem] mr-[7rem] text-blue-400">
                    <input type="submit" name="filter" value="discounted" cursor="pointer">
                    <input type="submit" name="filter" value="popular">
                </div>
            </form>
            <form method="get" action="/dashboard">
                <div class="flex flex-col gap-[2rem] mr-[7rem] text-blue-400">
                    <input type="submit" name="filter" value="clothes">
                    <input type="submit" name="filter" value="electronics">
                    <input type="submit" name="filter" value="home">
                    <input type="submit" name="filter" value="shoes">
                    <input type="submit" name="filter" value="accessories">
                </div>
            </form>
            <a href="/dashboard/data" class="text-red-500">Clear Filters</a>
        </div>
        <div>
            <form method="post" action="/dashboard/search">
                <div>
                    <input type="text" name="searchText" placeholder="Search products..." class="border border-gray-500 rounded p-2 w-[36rem] mb-[2rem] px-2 outline-none" onchange="this.form.submit()">
                </div>
            </form>
            <div class="grid grid-cols-4 gap-[3rem] mt-[1rem]">
                <% if(products.length>0){ %>
                    <% products.reverse().forEach((product)=> { %>
                        <div class="w-[16rem] h-[21rem] border-2 border-blue-300 hover:shadow-lg hover:scale-105 transition-transform duration-200 rounded-md">
                            <div class="content-center flex flex-col items-center gap-4 p-2 rounded-md">
                                <img class="w-[15rem] h-[16rem] rounded-md bg-grey-500" src="<%= product.images[0] %>">
                            </div>
                            <div>
                                <div class="block ml-2 mr-2 flex flex-row justify-between">
                                    <p><%= product.name %></p>
                                    <div>
                                        <a href="/product/like/<%= product._id %>"><%= product.likes.length %>❤️</a>
                                        <a href="/product/cart/<%= product._id %>">🛒</a>
                                    </div>
                                </div>
                                <div class="block ml-2 mr-2 mt-1 text-sm flex flex-row justify-between">
                                    <p><%= product.price %>/-</p>
                                    <% if(product.discount>0){ %>
                                        <p class="text-green-500">-<%= product.discount %>/-</p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% }else{ %>
                    <h2>No Products Available</h2>
                <% } %>
            </div>
        </div>
    </div>
    <script src="/javascripts/flashScript.js"></script>
</body>
</html>