<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Page</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="flex flex-row justify-between">
        <h2 class="text-blue-400 font-bold text-2xl">SHOP</h2>
        <% if(success.length > 0) { %>
            <div id="success" class="text-green-500"><%= success %></div>
        <% } %>
        <% if(error.length > 0) { %>
            <div id="error" class="text-red-500"><%= error %></div>
        <% } %>
        <div class="flex flex-row gap-8 text-blue-400">
            <button>
                <a href="/dashboard/creation">create product</a>
            </button>
            <button>
                <a href="/dashboard/cart">cart</a>
            </button>
            <button>
                <a href="/dashboard/profile">profile</a>
            </button>
        </div>
    </div>
    <div class="flex flex-row gap-[5rem]">
        <div class="w-[18rem] flex flex-col gap-[5rem] p-[2rem] mt-[2rem]">
            <form method="post" action="/dashboard/filter">
                <div>
                    <label for="filter" class="text-blue-400">Filter By:</label>
                    <select id="filter" name="filter" class="border border-gray-300 rounded p-2" onchange="this.form.submit()">
                        <option value="select" selected>--select--</option>
                        <option value="new">new</option>
                        <option value="old">old</option>
                    </select>
                </div>
            </form>
            <form method="post" action="/dashboard/filter">
                <div class="flex flex-col gap-[2rem] mr-[7rem] text-blue-400">
                    <input type="submit" name="filter" value="discounted" cursor="pointer">
                    <input type="submit" name="filter" value="popular">
                </div>
            </form>
            <form method="post" action="/dashboard/filter">
                <div class="flex flex-col gap-[2rem] mr-[7rem] text-blue-400">
                    <input type="submit" name="filter" value="clothes">
                    <input type="submit" name="filter" value="electronics">
                    <input type="submit" name="filter" value="home">
                    <input type="submit" name="filter" value="shoes">
                    <input type="submit" name="filter" value="accessories">
                </div>
            </form>
        </div>
        <div>
            <form method="post" action="/dashboard/filter">
                <div>
                    <input type="text" name="filter" placeholder="Search products..." class="border border-gray-500 rounded p-2 w-[36rem] mb-[2rem] px-2 outline-none" onchange="this.form.submit()">
                </div>
            </form>
            <div class="grid grid-cols-4 gap-[3rem] mt-[1rem]">
                <% if(products.length>0){ %>
                    <% products.reverse().forEach((product)=> { %>
                        <div class="w-[18rem] h-[22rem] border border-blue-400 items-center content-center p-[1rem] rounded">
                            <iframe src="https://via.placeholder.com/150" class="w-[16rem] h-[16rem] rounded"></iframe>
                            <div class="flex flex-row justify-between mt-[1rem]">
                                <h3><%= product.name %></h3>
                                <div class="flex flex-row gap-[0.5rem]">
                                    <button>❤️</button>
                                    <button>🛒</button>
                                </div>
                            </div>
                            <div class="mt-[0.5rem] flex flex-row justify-between">
                                <p><%= product.price %></p>
                                <p><%= product.discount %></p>
                            </div>
                        </div>
                    <% }) %>
                <% }else{ %>
                    <h2>No Products Available</h2>
                <% } %>
            </div>
        </div>
    </div>
    <script src="/javascripts/flashScript.js"></script>
</body>
</html>